.tabs {
  .tab {
    &.active {
      border-top: 3px solid;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-width: 0;
    }

    &.active {
    }

    button {
      background-color: transparent;
      padding: 0;

      &:hover {
        background-color: transparent;
      }
    }
  }
}